<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="Console">
    <Appenders>
        <TerminalConsole name="ConsoleTerminal">
            <PatternLayout pattern="%highlightError{[%d{HH:mm:ss} %p]: %minecraftFormatting{%msg}%n}" />
        </TerminalConsole>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%p]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleTerminal"/>
            <AppenderRef ref="File"/>
        </Root>

        <Logger name="net.minestom.server.ServerProcessImpl" level="OFF" />
    </Loggers>
</Configuration>
